<?php
<extend name="Common:index"/>
<block name="list">
    <div class="list-div" id="listDiv">
        <input  type="button" value=" 删除 " url="{:U('changeStatus')}"   class="button ajax-post">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th width="10px">全选<input type="checkbox" class="check_all"></th>
                                <th>用户名 </th>
                                <th>Email </th>
                                <th>操作</th>
            </tr>
            <volist name="rows" id="row">
                <tr>
                    <td align="center"><input type="checkbox" name="id[]" class="id" value="{$row.id}"></td>
                    <td align="center">{$row.username}</td>
                    <td align="center">{$row.email}</td>
                    <td align="center">
                        <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                        <a  class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id']))}" title="移除">移除</a> |
                        <a  class="ajax-get" href="{:U('initPassword',array('id'=>$row['id']))}" title="初始化密码">初始化密码</a>
                    </td>
                </tr>
            </volist>
        </table>
        <div id="turn-page" class="page">{$pageHtml}</div>
    </div>
</block>