<extend name="Common:index"/>
<block name="list">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>品牌名称</th>
                <th>品牌网址</th>
                <th>品牌LOGO</th>
                <th>品牌描述</th>
                <th>排序</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            <volist name="rows" id="row">
                <tr>
                    <td class="first-cell">
                        <span style="float:right">{$row.name}</span>
                    </td>
                    <td align="center">{$row.site_url}</td>
                    <td align="center">{$row.logo}</td>
                    <td align="center">{$row.intro}</td>
                    <td align="center">{$row.sort}</td>
                    <td align="center"><a href="{:U('changeStatus',array('id'=>$row['id'],'status'=>1-$row['status']))}"><img src="__IMG__/{$row.status}.gif" alt=""/></a></td>
                    <td align="center">
                        <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                        <a href="{:U('changeStatus',array('id'=>$row['id']))}" title="编辑">移除</a>
                    </td>
                </tr>
            </volist>
        </table>
        <div id="turn-page" class="page">{$pageHtml}</div>
    </div>
</block>