<?php
<extend name="Common:index"/>
<block name="list">
    <div class="list-div" id="listDiv">
        <input  type="button" value=" 删除 " url="{:U('changeStatus')}"   class="button ajax-post">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th width="10px">全选<input type="checkbox" class="check_all"></th>
                                <th>名称 </th>
                                <th>简介 </th>
                                <th>排序 </th>
                                <th>状态 </th>
                                <th>操作</th>
            </tr>
            <volist name="rows" id="row">
                <tr>
                    <td align="center"><input type="checkbox" name="id[]" class="id" value="{$row.id}"></td>
                    <td class="first-cell">
                        <span style="float:right">{$row.name}</span>
                    </td>
                    <td align="center">{$row.intro}</td><td align="center">{$row.sort}</td><td align="center"><a class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id'],'status'=>1-$row['status']))}"><img src="__IMG__/{$row.status}.gif"/></a></td>                    <td align="center">
                        <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                        <a  class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id']))}" title="移除">移除</a> |
                        <a href="{:U('Attribute/index',array('goods_type_id'=>$row['id']))}" title="属性列表">属性列表</a>
                    </td>
                </tr>
            </volist>
        </table>
        <div id="turn-page" class="page">{$pageHtml}</div>
    </div>
</block>