<?php
<extend name="Common:edit"/>
<block name="form">
    <form method="post" action="{:U()}">
        <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
                <td class="label">名称</td>
                <td>
                   <input type="text" name="name" maxlength="60" value="{$name}" />                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">积分下限</td>
                <td>
                   <input type="text" name="bottom" maxlength="60" value="{$bottom}" />                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">积分上限</td>
                <td>
                   <input type="text" name="top" maxlength="60" value="{$top}" />                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">折扣率</td>
                <td>
                   <input type="text" name="discount" maxlength="60" value="{$discount}" />                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">简介</td>
                <td>
                   <textarea  name="intro" cols="60" rows="4">{$intro}</textarea>                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">状态</td>
                <td>
                   <input type="radio"  class='status'   name="status" maxlength="60" value="1"/>是<input type="radio"  class='status'   name="status" maxlength="60" value="0"/>否                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">排序</td>
                <td>
                   <input type="text" name="sort" maxlength="60" value="{$sort|default=20}" />                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name="id" value="{$id}" />
                    <input type="submit" class="button ajax-post" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</block>